.env

appsettings*.json

*.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
publish/
out/

*.log
logs/

*.nupkg
*.snupkg

coverage/
*.coverage
*.coveragexml
TestResults/

*.tmp
*.temp
*.cache
*.pdb
*.mdb

docker-compose.override.yml
docker-compose*.yml
Dockerfile

.vs/
*.sqlproj
*.sqlproj.user

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/modules.xml

.idea/.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/.idea_modules
.idea/modules.xml
.idea/.idea/workspace.xml
.idea/.idea/tasks.xml

.idea/docker/

.DS_Store

Thumbs.db
desktop.ini

*~
